
<div class="content">
    <h1>Token</h1>
    <p>Create your own crypto token</p>
    <form>
        <label for="companySelect">Company</label>
        <select name="companySelect" id="companySelect" [(ngModel)]="formData.companySelect">
            <option *ngFor="let company of userCompany; let index = index"
                    value="{{index}}">{{company}}
            </option>
        </select>

        <label for="tokenName">Token name</label>
        <input #tokenName id="tokenName" name="tokenName" type="text"
               [ngClass]="{'not-valid' : addErrorInput.tokenName}"
               [(ngModel)]="formData.tokenName" required>

        <label for="symbolName">Symbol</label>
        <input #symbolName id="symbolName" name="symbolName" type="text"
               style="text-transform:uppercase"
               [ngClass]="{'not-valid' : addErrorInput.symbolName}"
               [(ngModel)]="formData.symbolName" required>

        <label for="numberToken">Maximum token supply</label>
        <input #numberToken id="numberToken" name="numberToken" type="number"
               [ngClass]="{'not-valid' : addErrorInput.numberToken}"
               [(ngModel)]="formData.numberToken" required>

        <label for="blockchain">Blockchain</label>
        <div id="blockchain" class="form_radio_btn">
            <input id="radio-1" type="radio" name="radio" value="Enthereum"
                   [(ngModel)]="formData.blockchain">
            <label for="radio-1">Enthereum</label>

            <input id="radio-2" type="radio" name="radio" value="Binance Smart Chain" [(ngModel)]="formData.blockchain">
            <label for="radio-2">Binance Smart Chain</label>
        </div>

        <label for="supply">Supply</label>
        <div id="supply" class="form_checkbox">
            <input id="enabled" type="checkbox" name="supply" [(ngModel)]="formData.supply">
            <label for="enabled">Enabled</label>
        </div>

        <button
                [disabled]="validInput.buttonDisable || !formData.numberToken || !formData.tokenName || !formData.symbolName"
                (click)="onSubmit()"
        >SAVE DRAFT</button>

    </form>
</div>
